<h2>Ability Scores</h2>
<div class="grid grid-5col">

    <div class="attribute panel">
        <label>Physique</label>
        <div class="attribute-value">
            <input type="text" name="system.attributes.physique.value" value="{{system.attributes.physique.value}}" data-dtype="Number" />
            {{#if system.attributes.physique.speciesBonus}}
            <span class="species-bonus" title="Species Bonus">+{{system.attributes.physique.speciesBonus}}</span>
            {{/if}}
            {{#if system.attributes.physique.flexibleBonus}}
            <span class="flexible-bonus" title="Flexible Species Bonus">+{{system.attributes.physique.flexibleBonus}}</span>
            {{/if}}
        </div>
        <div class="attribute-desc">
            <p>Strength, toughness, and stamina</p>
        </div>
    </div>
</div>
